//VARIABLES
$primary-color:rgb(96, 202, 140);
$background-color: rgb(13,16,21);
$nav-icon:white;
$nav-hover:rgb(48,61,78);
$nav-click:rgb(71, 91, 118);
$border-color:rgb(71, 91, 118);
$store-color:rgb(199, 165, 243);
$pinia-color:rgb(250,217,111);
$red-500: #ef4444;
$slate-400: #94a3b8;
$slate-800:#1e293b;

//****************** Below is App.vue styling ***************

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    html{
      width:100vw;
      height:100vh;
    }
    body {
      // font-family: 'Poppins', sans-serif;
      font-family:monospace;
      font-size: 100%; //override the chrome bug that sets font size to 75%
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      align-items:center;
      background-color:$background-color;
      color:rgb(182,193,201);
      overflow:hidden;
    }
    .main{
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items:center;
    }
    .container {
      max-width: 500px;
      margin: 30px auto;
      overflow: auto;
      min-height: 300px;
      border: 1px solid steelblue;
      padding: 30px;
      border-radius: 5px;
    }
//****************** Above is App.vue styling ***************

//****************** Below is Button styling ***************
    .btn {
      display: inline-block;
      background: $background-color;
      color: $primary-color;
      border: none;
      padding: 3px 14px;
      margin: 3px;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      font-size: 16px;
      font-family: inherit;
      transition:0.25s;
      border:2px solid $primary-color;
    }

    .btn:hover{
        background-color:$primary-color;
        color: $background-color;
    }

    .btn:focus {
      outline: none;
    }
    .btn:active {
      transform: scale(0.9);
    }
    .btn-block {
      display: block;
      width: 100%;
    }

    .clear-btn {
      display: inline-block;
      background: $background-color;
      color: $red-500;
      border: none;
      padding: 3px 14px;
      margin: 3px;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      font-size: 16px;
      font-family: inherit;
      transition:0.25s;
      border:2px solid $red-500;
    }

    .clear-btn:hover{
        background-color:$red-500;
        color: $background-color;
    }

    .clear-btn:focus {
      outline: none;
    }
    .clear-btn:active {
      transform: scale(0.9);
    }
    .clear-btn-block {
      display: block;
      width: 100%;
    }

    .timestamp-btn {
      display: inline-block;
      background: $background-color;
      color: $primary-color;
      border: none;
      padding: 3px 6px;
      margin: 3px;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      font-size: 12px;
      font-family: inherit;
      transition:0.25s;
      border:2px solid $primary-color;
    }

    .timestamp-btn:hover{
        background-color:$primary-color;
        color: $background-color;
    }

    .timestamp-btn:focus {
      outline: none;
    }
    .timestamp-btn:active {
      transform: scale(0.9);
    }
    .timestamp-btn-block {
      display: block;
      width: 100%;
    }
//****************** Above is Button styling ***************

//****************** Below is Navbar.vue styling ***************
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: 3px double $border-color;
    width:100vw;
    padding: 0rem 0.5rem;
}

.navbar-icons{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}

.nav-icon{
    width:48px;
    height:48px;
    color:$nav-icon;
    transition:0.2s;
    border-radius:8px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.nav-icon:hover{
    background-color:$nav-hover;
}

.nav-icon:active{
    background-color:$nav-click;
}
//****************** Above is Navbar.vue styling ***************

//****************** Below is VertTimeline.vue styling ***************
.timeline-container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:flex-start;
  gap:1rem;
  width: 100vw;
  height: 100vh;
}

.vertical-left{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  width:100%;
  height:100%;
  padding-top:1rem;
  flex-grow:3;
  font-family:monospace;
}

.vert-timeline{
  height:90%;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  overflow-x: hidden;
  overflow-y: auto;

}

.timeline {
  list-style-type: none;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: flex-start;
}

.timeline-nodes{
  display:flex;
  width:100%;
  flex-direction:column;
  align-items:flex-start;
  justify-content:space-evenly;
  border-left: 2px solid #D6DCE0;
  border-top: 1px solid $border-color;
  position:relative;
  transition: all 200ms ease-in;
  z-index:1;
  &:before{
    content: '';
    width: 8px;
    height: 8px;
    background-color: $slate-400;
    border-radius: 25px;
    border: 1px solid $slate-400;
    position: absolute;
    top: 25%;
    left: -6px;
    transition: all 200ms ease-in;
  }
}

// .timeline-nodes:hover{
//   background-color:$nav-hover;
//   cursor:pointer;
// }

// .timeline-nodes:focus, .timeline-nodes:active{
//   background-color:$nav-click;
// }

// .timeline-nodes.clicked{
//   background-color:$nav-click;
// }

.node{
  display:flex;
  flex-direction:column;
}

.timeline-node{
  display:flex;
  justify-content:space-evenly;
  height:100%;
}

.timestamp{
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  font-weight: 100;
}
.status{
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items:center;
  position: relative;
  transition: all 200ms ease-in;
  h4{
      font-weight:600;
  }
}

.timeline-nodes.complete{
      background-color:$slate-800;
      border-left: 2px solid $primary-color;
      color: $store-color;
      &:before{
          background-color: $primary-color;
          transition: all 200ms ease-in ;
          border: 1px solid $primary-color;
      }
    h4 {
        color: $primary-color;
    }
}

//****************** Above is VertTimeline.vue styling ***************

//****************** Below is Animations ***************

.slide-right-enter-active {
  transition: all 0.25s ease-out;
}

.slide-right-leave-active {
  opacity:0;
}

.slide-right-enter-from, .slide-right-leave-to {
  transform: translateX(-200px);
  opacity: 0;
}

.slide-left-enter-active {
  transition: all 0.25s ease-out;
}

.slide-left-leave-active {
  opacity:0;
}

.slide-left-enter-from, .slide-left-leave-to {
  transform: translateX(200px);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

//****************** Above is Animations ***************
